In [1]:
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
import numpy as np
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

# Dataset Observation

**Link to the dataset: https://www.kaggle.com/datasets/thedevastator/tesla-accident-fatalities-analysis-and-statistic**

In [2]:
df = pd.read_csv('Tesla Deaths - Deaths (3).csv')

In [3]:
df.shape

(254, 21)

In [4]:
df.head()

,Case #,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,Cyclists/ Peds,TSLA+cycl / peds,Model,AutoPilot claimed,Verified Tesla Autopilot Death,Source,Note,Deceased 1,Deceased 2,Deceased 3,Deceased 4
0,254,2022,8/16/2022,Germany,NaN,"Tesla car crashes into tree, burns",2,NaN,NaN,-,-,2,NaN,-,-,https://www.tag24.de/nachrichten/unfall/tesla...,NaN,NaN,NaN,NaN,NaN
1,253,2022,8/15/2022,USA,CA,Tesla veers into oncoming traffic,4,1,3,-,-,4,NaN,-,-,https://www.ksbw.com/article/hollister-crash-...,NaN,NaN,NaN,NaN,NaN
2,252,2022,8/14/2022,Finland,NaN,Unlicensed driver hits pedestrian,1,-,-,-,1,1,NaN,-,-,https://yle.fi/uutiset/3-12576787,NaN,NaN,NaN,NaN,NaN
3,251,2022,8/2/2022,USA,FL,Man in wheelchair hit crossing road,1,-,-,-,1,1,3,-,-,https://www.wfla.com/news/man-in-wheelchair-f...,NaN,NaN,NaN,NaN,NaN
4,250,2022,7/27/2022,USA,ME,Tesla crashes at high speed,1,1,-,-,-,1,-,-,-,https://www.boothbayregister.com/article/sout...,NaN,James T. Penner,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Case #                            254 non-null    int64
 1   Year                              254 non-null    int64
 2   Date                              254 non-null    object
 3    Country                          254 non-null    object
 4    State                            185 non-null    object
 5    Description                      254 non-null    object
 6    Deaths                           254 non-null    int64
 7    Tesla driver                     250 non-null    object
 8    Tesla occupant                   246 non-null    object
 9    Other vehicle                    251 non-null    object
 10   Cyclists/ Peds                   252 non-null    object
 11   TSLA+cycl / peds                 253 non-null    object
 12   Model                            251 non-null    object
 13   AutoPilot claimed                250 non-null    object
 14   Verified Tesla Autopilot Death   254 non-null    object
 15   Source                           254 non-null    object
 16   Note                             8 non-null      object
 17   Deceased 1                       71 non-null     object
 18   Deceased 2                       15 non-null     object
 19   Deceased 3                       4 non-null      object
 20   Deceased 4                       0 non-null      float64
dtypes: float64(1), int64(3), object(17)
memory usage: 41.8+ KB

# Modifying the dtypes of the columns

In [6]:
df.columns

Index(['Case #', 'Year', 'Date', ' Country ', ' State ', ' Description ',
       ' Deaths ', ' Tesla driver ', ' Tesla occupant ', ' Other vehicle ',
       ' Cyclists/ Peds ', ' TSLA+cycl / peds ', ' Model ',
       ' AutoPilot claimed ', ' Verified Tesla Autopilot Death ', ' Source ',
       ' Note ', ' Deceased 1 ', ' Deceased 2 ', ' Deceased 3 ',
       ' Deceased 4 '],
      dtype='object')

In [7]:
df[' Tesla occupant '].value_counts()

 -     210
1       32
2        3
3        1
Name:  Tesla occupant , dtype: int64

In [8]:
df = df[[
    #'Case #',
    'Year', 
    'Date', 
    ' Country ',
    ' State ',
    ' Description ',
    ' Deaths ', 
    ' Tesla driver ', 
    ' Tesla occupant ', 
    ' Other vehicle ',
    ' Cyclists/ Peds ', ' TSLA+cycl / peds ', ' Model ',
    ' AutoPilot claimed ', ' Verified Tesla Autopilot Death '
    #' Source ',
    #' Note ',
    #' Deceased 1 ', ' Deceased 2 ', ' Deceased 3 ',
    #' Deceased 4 '
]].copy()

In [9]:
column_names = [x.strip(' ') for x in df.columns]

df = df.rename(columns={' Country ':'Country',
                ' State ': 'State',
                ' Description ': 'Description',
                ' Deaths ': 'Deaths',
                ' Tesla driver ': 'Tesla_driver',
                ' Tesla occupant ': 'Tesla_occupant', 
                ' Other vehicle ': 'Other_vehicle',
                ' Cyclists/ Peds ': 'Cyclists_Peds',
                ' TSLA+cycl / peds ': 'TSLApluscycl_peds',
                ' Model ': 'Model',
                ' AutoPilot claimed ': 'AutoPilot_claimed', 
                ' Verified Tesla Autopilot Death ': 'Verified_Autopilot_Death'                   
               })

## Filling NA values

In [10]:
df.columns

Index(['Year', 'Date', 'Country', 'State', 'Description', 'Deaths',
       'Tesla_driver', 'Tesla_occupant', 'Other_vehicle', 'Cyclists_Peds',
       'TSLApluscycl_peds', 'Model', 'AutoPilot_claimed',
       'Verified_Autopilot_Death'],
      dtype='object')

In [11]:
df.Tesla_driver.unique()

array([nan, '1', ' - '], dtype=object)

In [12]:
#Convierto los nan a formato pd.NA. Luego reemplazo todos los guiones por False y los 1s por True
#df.Tesla_driver = np.where(df.Tesla_driver.isnull(), pd.NA, np.where(df.Tesla_driver == ' - ', False, True))

In [13]:
#Relleno todos los pd.NA con False
#df.Tesla_driver = df.Tesla_driver.fillna(False)

In [14]:
#Cambio el dtype a boolean
#df.Tesla_driver = df.Tesla_driver.astype('boolean')

In [15]:
#df.Tesla_driver.unique()

In [16]:
def set_dtypes(df):
    df.Year = df.Year.astype('int16')
    df.Date = df.Date.astype('datetime64[ns]')
    df.Country = df.Country.astype('category')
    df.State = df.State.astype('category')
    df.Description = df.Description.astype('object')
    df.Deaths = df.Deaths.astype('int8')
    
    df.Tesla_driver = np.where(df.Tesla_driver.isnull(), pd.NA, np.where(df.Tesla_driver == ' - ', False, True))
    df.Tesla_driver = df.Tesla_driver.fillna(False)
    df.Tesla_driver = df.Tesla_driver.astype('boolean')
    
    df.Tesla_occupant = np.where(df.Tesla_occupant.isnull(), pd.NA, np.where(df.Tesla_occupant == '1', True, False))
    df.Tesla_occupant = df.Tesla_occupant.fillna(False)
    df.Tesla_occupant = df.Tesla_occupant.astype('boolean')
    
    df.Other_vehicle = np.where(df.Other_vehicle.isnull(), pd.NA, np.where(df.Other_vehicle == '1', True, False))
    df.Other_vehicle = df.Other_vehicle.fillna(False)
    df.Other_vehicle = df.Other_vehicle.astype('boolean')
    
    df.Cyclists_Peds = np.where(df.Cyclists_Peds.isnull(), pd.NA, np.where(df.Cyclists_Peds == '1', True, False))
    df.Cyclists_Peds = df.Cyclists_Peds.fillna(False)
    df.Cyclists_Peds = df.Cyclists_Peds.astype('boolean')
    
    df.TSLApluscycl_peds = np.where(df.TSLApluscycl_peds.isnull(), pd.NA, np.where(df.TSLApluscycl_peds == '1', True, False))
    df.TSLApluscycl_peds = df.TSLApluscycl_peds.fillna(False)
    df.TSLApluscycl_peds = df.TSLApluscycl_peds.astype('boolean')
    
    df.Model = df.Model.map({' - ': 'Sin especificar', '3': '3', ' S ': 'S', ' X ': 'X', ' Y ': 'Y'})
    df.Model = np.where(df.Model.isnull(), pd.NA, df.Model)
    df.Model = df.Model.fillna('Sin especificar')
    df.Model = df.Model.astype('category')
    
    df.AutoPilot_claimed = np.where(df.AutoPilot_claimed.isnull(), pd.NA, np.where(df.AutoPilot_claimed == '1', True, False))
    df.AutoPilot_claimed = df.AutoPilot_claimed.fillna(False)
    df.AutoPilot_claimed = df.AutoPilot_claimed.astype('boolean')
    
    df.Verified_Autopilot_Death = np.where(df.Verified_Autopilot_Death.isnull(), pd.NA, np.where(df.Verified_Autopilot_Death == '1', True, False))
    df.Verified_Autopilot_Death = df.Verified_Autopilot_Death.fillna(False)
    df.Verified_Autopilot_Death = df.Verified_Autopilot_Death.astype('boolean')
    
    return df

In [17]:
df = set_dtypes(df)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      254 non-null    int16
 1   Date                      254 non-null    datetime64[ns]
 2   Country                   254 non-null    category
 3   State                     185 non-null    category
 4   Description               254 non-null    object
 5   Deaths                    254 non-null    int8
 6   Tesla_driver              254 non-null    boolean
 7   Tesla_occupant            254 non-null    boolean
 8   Other_vehicle             254 non-null    boolean
 9   Cyclists_Peds             254 non-null    boolean
 10  TSLApluscycl_peds         254 non-null    boolean
 11  Model                     254 non-null    category
 12  AutoPilot_claimed         254 non-null    boolean
 13  Verified_Autopilot_Death  254 non-null    boolean
dtypes: boolean(7), category(3), datetime64[ns](1), int16(1), int8(1), object(1)
memory usage: 11.3+ KB

In [19]:
df.isna().sum()

Year                         0
Date                         0
Country                      0
State                       69
Description                  0
Deaths                       0
Tesla_driver                 0
Tesla_occupant               0
Other_vehicle                0
Cyclists_Peds                0
TSLApluscycl_peds            0
Model                        0
AutoPilot_claimed            0
Verified_Autopilot_Death     0
dtype: int64

In [20]:
df.loc[df.State.isna() == True] #Poner que si no es de USA no aplica la columna State y ponerle no aplica

,Year,Date,Country,State,Description,Deaths,Tesla_driver,Tesla_occupant,Other_vehicle,Cyclists_Peds,TSLApluscycl_peds,Model,AutoPilot_claimed,Verified_Autopilot_Death
0,2022,2022-08-16,Germany,NaN,"Tesla car crashes into tree, burns",2,False,False,False,False,False,Sin especificar,False,False
2,2022,2022-08-14,Finland,NaN,Unlicensed driver hits pedestrian,1,False,False,False,True,True,Sin especificar,False,False
7,2022,2022-07-12,China,NaN,Out of control Tesla hits pedestrians,2,False,False,False,False,False,Y,False,False
16,2022,2022-06-20,Canada,NaN,Tesla runs into overpass,1,True,False,False,False,True,Sin especificar,False,False
27,2022,2022-05-21,China,NaN,Tesla hits pedestrian,1,False,False,False,True,True,Sin especificar,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,2017,2017-04-26,Norway,NaN,Tesla into oncoming traffic,1,False,False,True,False,False,Sin especificar,False,False
227,2017,2017-01-17,Germany,NaN,Driver died in pileup,1,True,False,False,False,True,Sin especificar,False,False
233,2016,2016-09-07,Holland,NaN,Drove into wooded ravine,1,True,False,False,False,True,Sin especificar,False,False
242,2016,2016-01-20,China,NaN,AutoPilot into street sweeper,1,True,False,False,False,True,S,True,True
244,2015,2015-12-22,Canada,NaN,Struck by dumptruck,1,True,False,False,False,True,Sin especificar,False,False

In [21]:
#Eliminamos los espacios de la columna Country y de State
df.Country = df.Country.map(lambda x: x.strip(" "))
df.State = df.State.map(lambda x: x.strip(" "))

In [22]:
#Llenamos los NaN de la columna State con "No aplica" por estar fuera de USA
df.State = df.State.fillna('No aplica')

In [23]:
df.isnull().sum()

Year                        0
Date                        0
Country                     0
State                       0
Description                 0
Deaths                      0
Tesla_driver                0
Tesla_occupant              0
Other_vehicle               0
Cyclists_Peds               0
TSLApluscycl_peds           0
Model                       0
AutoPilot_claimed           0
Verified_Autopilot_Death    0
dtype: int64

In [34]:
#Quantity of True, False values in binary columns
df[['Tesla_driver', 'Tesla_occupant', 'Other_vehicle', 'Cyclists_Peds',
       'TSLApluscycl_peds', 'AutoPilot_claimed',
       'Verified_Autopilot_Death']].apply(pd.Series.value_counts)

,Tesla_driver,Tesla_occupant,Other_vehicle,Cyclists_Peds,TSLApluscycl_peds,AutoPilot_claimed,Verified_Autopilot_Death
False,155,222,169,219,117,230,241
True,99,32,85,35,137,24,13

# Exportamos a formato parquet

In [672]:
df.to_parquet('datos_para_analisis.parquet')

# Conclusion

* As we can see, with this process we lower the memory usage of the dataframe.
* We clean de column names and we give it a more easy to work format
* We clean the NA data and we have a dataset with no NA values
* All the columns that are not necesary for the analysis were omitted.
* We learn that if we have NA values in a boolean column, we need to proceed with caution because sometimes pandas does not understand well the format of an NA. The way we fix this is by locating the NA values and give to them the format pd.NA, and then we replaced it with the correct boolean value. 
* Finally we exported the dataframe into a parquet file, because its faster and we maintain the dtypes of all the columns to work later in the analysis.